.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px dashed teal;
    animation: rotate 5s infinite linear;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg) scale(1.5);
    }
}