@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    margin-bottom: 20px;
}

.anime-item {
    cursor: pointer;
}

.anime-item__rating {
    top: 20px;
    position: absolute;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 2px 6px;
    max-width: 80%;
    background: teal;
}

.strip {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.anime-info {
    border-inline: 1px solid #BABABA;
    padding-inline: 12px;
    font-size: .75rem;
}

.anime-title-author {
    padding: 4px;
    padding-inline: 12px;
    margin-bottom: 8px;
}

.anime-title-author h2 {
    font-size: 1.25rem;
}

.anime-general-info {
    max-width: 220px;
    border-right: 1px solid #BABABA;
    padding-right: 12px;
}

.anime-general-info p {
    margin: 8px 0;
}

.anime-info-section {
    margin-bottom: 20px;
}

h3 {
    font-weight: bold;
    border-bottom: 1px solid #BABABA;
    margin-top: 12px;
    margin-bottom: 8px;
}

.anime-info-section--type {
    color: bisque;
}

.content-section {
    width: 100%;
    margin-left: 8px;
}

.content-section--links {
    border-bottom: 1px solid gray;
    padding: 8px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
}

.content-section--link {
    font-size: .75rem;
    padding-inline: 4px;
}

p {
    margin-bottom: 12px;
}

.persons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}